<h1>All novels</h1>
<%= link_to "新規作成", "/novel/new" %>

<ul class="novels">
  <% @novels.each do |novel| %>
    <li>
      <% if novel.title %>
        <%= novel.title %>
      <% else %>
          タイトルなし
      <% end %>
      <% if novel.introduction %>
        <%= novel.introduction %>
      <% end %>
      <% if novel.script %>
        <%= novel.script %>
      <% end %>
    </li>
  <% end %>
</ul>
<%= will_paginate @novels %>


