<!DOCTYPE html>
<html>
  <head>
    <title>RenmeriMaker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <%if logged_in? %>
          <li><%=current_user.id%></li>
          <li><%=current_user.nickname%></li>
          <li><%=current_user.image_url%></li>
          <li><%= link_to "ログアウト", "/logout" %></li>
        <% else %>
          <li><%= link_to 'Twitterでログイン', '/auth/twitter' %></li>
        <%end%>
      </ul>
    </div>
    <div class="container">
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
